<div class="card">
  <div class="card-block">
    <div class="row">
      <div class="col-md-11">
        <p class="card-text">
            <% if message.user.name.first > 'M' %>
            <span class="pink-muted"><%= message.user.name %> at <%= message.timestamp %> says</span><br>
            <% else %>
            <span class="text-muted"><%= message.user.name %> at <%= message.timestamp %> says</span><br>
            <% end %>
            <%= message.body %>
        </p>
      </div>
    </div>
  </div>
</div>
