<h2>Talk About <%= @chat_room.title %></h2>

<div id="wrapper">
  <div id="menu">
    <p class="welcome">Welcome, <%= current_user.username %> <b></b></p>
    <p class="logout"><a id="exit" <%= link_to 'Exit Room', chat_rooms_path %></p>
      <div style="clear:both"></div>
    </div>


<div id="messages" data-chat-room-id="<%= @chat_room.id %>">
  <%= render @chat_room.messages %>
</div>
  <div>
     <%= form_for @message, url: '#' do |f| %>
       <%= hidden_field_tag 'chat_room_id', @chat_room.id %>
       <div class="form-group">
         <%= f.text_area :body, class: 'form-control' %>
         <%= f.submit "Post", class: 'submit' %>
       </div>
     <% end %>
</div>
</div>
<br>
<br>
<a href="http://www.mind.org.uk/">mind.org.uk</a><br>
<a href="https://www.thecalmzone.net/">thecalmzone.net</a><br>
<a href="https://www.menshealthforum.org.uk/">menshealthforum</a><br>
<a href="http://www.nhs.uk/Conditions/stress-anxiety-depression/Pages/low-mood-stress-anxiety.aspx">nhsadvice</a><br>
<a href="http://www.youngminds.org.uk/"> mentalhealthforyoungpeople</a><br>
<a href="https://turn2me.org/">freecounselling</a><br>
